{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Accueil</h1>
    <h2>Nom d'utilisateur: {{ username }}</h2>

    {% if age => 18 %}
        <p>Vous êtes autorisé à jouer à ce jeu</p>
    {% else %}
        <p>Vous n'êtes pas autorisé à jouer à ce jeu</p>
    {% endif %}

    <section>
        <h1>Liste des films 🎬</h1>

{% for movie in movies %}
    <div>
        <h2>{{ movie.title }}</h2>
    </div>
{% else %}
    <p>Aucun film trouvé</p>
{% endfor %}
    </section>

{% endblock %}