{% extends "base.html.twig" %}

{% block title %}Mention légal{% endblock %}

{% block body %}
    <h1>Mention légal</h1>

    <h2>Coordonnées</h2>

    <p>Adresse: 4 rue paul bernies</p>
    <p>Email: test@test.com</p>

{% endblock %}